@use 'sass:color';
@use '~/styles/variables' as var;

.no-results {
  color: #ccc;
  text-align: center;
  font-size: 1.2rem;
  padding: 2rem;
  background-color: #2a2a2a;
  border-radius: 12px;
  margin-top: 2rem;
}

/* --- Grilla de Posts (Responsiva) --- */
.posts-grid {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .posts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 2.5rem; // Más espacio entre tarjetas
  padding: 2rem 0;
  width: 100%;
}
}